#asistent_model {
    position: absolute;
    inset: 0;
    height: inherit;
    width: inherit;
}

.chat {
    position: absolute !important;
    bottom: 5%;
    left: 50%;
    border: none;
    border-radius: var(--border-radius);
    transform: translateX(-50%);
    overflow: hidden;
    max-width: 900px;
    width: 80%;
}

.chat textarea {
    background: transparent;
    border: none !important;
    border-radius: var(--border-radius);
}
