{% extends 'base/widget.html' %}
{% load static %}
{% block title %}Inicio | Bienvenidos 🦅{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/chatbot.css' %}" />
<script type="module" src="{% static 'libs/model-viewer.min.js' %}"></script>
{% endblock %}
{% block navbar %}
<!--  -->
{% endblock %}
{% block content %}
<main class="main_anchor full_screen">
    <model-viewer id="asistent_model" class="mx-auto" autoplay loading="eager" src="{{model_3D}}" shadow-intensity="1" tone-mapping="neutral" camera-orbit="15deg 70deg 5m" animation-name="{{anim_default}}" data-settings-model="{% url 'modelsettings' %}" environment-image="" skybox-image="">
        {% if active_areas %}
        <div id="model_areas" class="model_areas slide_areas show"></div>
        {% endif %}
    </model-viewer>
    <form action="{% url 'chatbot' %}" method="POST" id="chatForm" class="chat_form card">
        {% csrf_token %}
        <button type="button" class="tab" id="openChat"><i class="fas fa-angle-up"></i></button>
        <textarea name="chatquestion" id="txtQuestion" class="pb-4 mx-3 mt-3" placeholder="Preguntale a Howky: ... "></textarea>
        <div class="chat_controls d-flex flex-row-reverse justify-content-start p-2 gap_10">
            <button type="submit" id="chatForm_submit" class="btn btn-floating btn_detail pe-1">
                <i class="fa-solid fa-paper-plane"></i>
            </button>
            <button type="button" id="chatMicrophone" class="btn btn-floating btn_detail controls_btn_microphone">
                <i class="fa-solid fa-microphone"></i>
            </button>
            <a href="{% url 'map' %}" class="btn btn-floating btn_detail">
                <i class="fa-solid fa-map-location-dot"></i>
            </a>
            <button type="button" id="floatSettings" class="btn btn-floating btn_detail me-auto" data-mdb-modal-init data-mdb-target="#configModal">
                <i class="fa-solid fa-gear"></i>
            </button>
        </div>
    </form>
    <div class="chat_output show py-3" id="output"></div>
</main>
{% endblock %}
{% block moresettings %}
<div class="text-center mt-5">
    <h5>Configuraciones del Asistente</h5>
    <h6 class="mt-4">Voz:</h6>
    <div class="form-outline">
        <select class="form-select" id="voice_select"></select>
    </div>
</div>
<div class="row mt-4 mx-0">
    <label class="col-4 d-flex align-items-center px-0" for="rate_input">Velocidad: </label>
    <div class="form-outline col ps-0" data-mdb-input-init>
        <input type="number" id="rate_input" name="asistentSpeedd" class="form-control" min="0.1" max="2" step="0.1" value="1.2" />
    </div>
</div>
<div class="mt-4">
    <input class="form-check-input" type="checkbox" id="vesticalCtrls" checked />
    <label class="form-check-label" for="vesticalCtrls">Controles en Vertical</label>
</div>
{% endblock %}
{% block scripts_end %}
<script src="{% static 'js/settings_chatbot.js' %}"></script>
<script src="{% static 'js/settings_model.js' %}"></script>
{% endblock %}
