{% extends 'base/widget.html' %}
{% load static %}
{% block title %}Inicio | Bienvenidos 🦅{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/chatbot.css' %}" />
<script type="module" src="{% static 'libs/model-viewer.min.js' %}"></script>
{% endblock %}

{% block navbar %}
<!-- Index Sin Navbar -->
{% endblock %}

{% block content %}
<main class="main_anchor full_screen">
    <!-- Asistente -->
    <section href="#asistente" class="asistent_group {% if hawkyAlways %}open open_controls{% endif %}">
        <div class="box_asistent" id="hawkySettings">
            <model-viewer id="asistent_model" autoplay loading="eager" src="{{model_3D}}" shadow-intensity="1" tone-mapping="neutral" camera-orbit="15deg 70deg 5m" animation-name="{{anim_default}}" data-settings-model="{% url 'modelsettings' %}" environment-image="" skybox-image="">
                {% if active_areas %}
                <div init-wave-click id="model_areas" class="model_areas slide_areas show"></div>
                {% endif %}
                <div class="model_response">
                    <div class="output_block">
                        <div class="bg_detail chat_msg user_submit visible" data-tokeid="101">Estamos trabajando en algo nuevo para ustedes...</div>
                    </div>
                </div>
            </model-viewer>
            <!-- Controles iniciales -->
            <div class="box_asistent_controls">
                <div class="controls_buttons">
                    <a href="{% url 'map' %}" class="btn btn_controls text-white">
                        <i class="fa-solid fa-map-location-dot"></i>
                    </a>
                </div>
            </div>
            <!-- Controles del chat -->
        </div>
    </section>
</main>
{% endblock %}


{% block moresettings %}
<div class="text-center mt-5">
    <h5>Configuraciones del Asistente</h5>
    <h6 class="mt-4">Voz:</h6>
    <div class="form-outline">
        <select class="form-select" id="voice_select"></select>
    </div>
</div>
<div class="row mt-4 mx-0">
    <label class="col-4 d-flex align-items-center px-0" for="rate_input">Velocidad: </label>
    <div class="form-outline col ps-0" data-mdb-input-init>
        <input type="number" id="rate_input" name="asistentSpeedd" class="form-control" min="0.1" max="2" step="0.1" value="1.2" />
    </div>
</div>
<div class="mt-4">
    <input class="form-check-input" type="checkbox" id="vesticalCtrls" checked />
    <label class="form-check-label" for="vesticalCtrls">Controles en Vertical</label>
</div>
{% endblock %}

{% block scripts_end %}
<script src="{% static 'js/settings_chatbot.js' %}"></script>
<script src="{% static 'js/settings_model.js' %}"></script>
{% endblock %}